body {
    font-family:Arial, Geneva, Tahoma, sans-serif;
}
.column {
    margin: 5px;
    float: left;
    width: 250px;
    height: 200px;
    padding: 5px;
    border: red 2px solid;
    font-size: 12px;
}
  